
.navbar{
  &__left{
    justify-content: space-around;
    i{
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
  .nav-pills{
    .nav-link{
      transition: 0.5s;
      &:hover{
        color: var(--secondary);
      }
    }
  }

}
.bounce-animation {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
