.container{
  &__left{
    width: 50%;
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 90%;
      height: 100%;
      border: 1px solid white;
      border-radius: 50%;
      box-shadow: 0 0 7px 10px white inset;
    }
    &__img{
      width: 90%;
      border: 2px solid white;
    }
  }
}