<div class="container">
  <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; {{currentYear}} <a class="text-body-primary" id="copyLink" href="{{linkedIn}}" target="_blank">Luke Slz</a></p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <p>Here goes an img</p>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{{gitHub}}" class="nav-link px-2 text-body-secondary" target="_blank"><i class="bi bi-github"></i></a></li>
      <li class="nav-item"><a href="{{linkedIn}}" class="nav-link px-2 text-body-secondary" target="_blank"><i class="bi bi-linkedin"></i></a></li>
      <li class="nav-item"><a href="mailto:{{email}}" class="nav-link px-2 text-body-secondary"><i class="bi bi-envelope-at"></i></a></li>
    </ul>
  </footer>
</div>