:root{
  --primary: #0F044C;
  --secondary: #8a8b93;  
  --primary-lighter: #0097f5;
}
$primary: #0F044C;
$secondary: #8a8b93;



//Overrides should go BEFORE imports
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
